.fondoverde{
    background-color: green;

}
.fondorojo{
    background-color: red;
}
.fondoazul{
    background-color: aqua;
}
.fondoblanco{
    background-color: blanchedalmond;
}
.fondomorado{
    background-color: blueviolet;
}
.fondoamarillo{
    background-color: yellow;
}
.fondoverdeclaro{
    background-color: greenyellow;
}
.letrablanca{
    color: aliceblue;
}
.tamañoletra{
    font-size: 30px;
}
.bordegris{
    border: 8px outset rgb(128, 128, 128);
}

.bordenegro{
    border: 1px outset rgb(0, 0, 0);
}
.tamañocuadro{
    width: 100%;
}

 .margen{
     margin: -5px;
     padding: -5px;

}
